/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Start */


.nav-container {
    text-align: center;
    background-color: #ffffff;
    height: 75px;
    border-bottom: 2px solid #cccccc;

}

.nav {
    background-color: #ffffff;
    width: 960px;
    height: 100%;
    display: inline-block;
}

.nav-logo {
    float: left;
    background-color: #4aaaa5;
    height: 100%;
    margin: auto;
}

.nav-logo-link {
    color: #ffffff;
    font-size: x-large;
    font-weight: bold;
    line-height: 75px;
    padding: 0 20px;
    text-decoration: none;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.nav-right {
    background-color: #ffffff;
    float: right;
    height: 100%;
    margin: auto;
}

.divider {
    color: #777777;
    opacity: 20%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.nav-link {
    color: #777777;
    box-sizing:border-box;
    height: 100%;
    width: 100%;
    line-height:75px;
    padding: 0 20px;
    text-decoration: none;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.about-me-container {
    background-image: url("../images/concrete_seamless.png");
    position: absolute;
    top: 77px; /* Header Height */
    bottom: 50px; /* Footer Height */
    width: 100%;
    text-align: center;
}

.about-me {
    text-align: left;
    background-color: #ffffff;
    width: 920px;
    margin-top: 50px;
    padding: 20px;
    display: inline-block;
    border: 1px solid #e4e4e4 ;
}

.about-name {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: x-large;
    color: #4aaaa5;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 30px;
    border-bottom: 2px solid #e4e4e4;
}

.about-image {
    height: 200px;
    width: 200px;
    float: left;
    padding-right: 20px;
}

.about-paragraph {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    line-height: 30px;

}


.footer {
    background-color: #777777;
    color: #ffffff;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    line-height: 50px;
    border-top: solid #4aaaa5 5px;
}
